language: python
python: 2.7
before_install:
    - sudo apt-get install -y libevent-dev python-gevent
env:
  - TOX_ENV=flake8
script:
    - tox -e $TOX_ENV
install:
    - pip install tox
notifications:
    email: tarek@mozilla.com
    irc: "irc.freenode.org#mozilla-circus"
    on_success: change
