include NOTICE
include README.rst
include LICENSE
include CHANGES.rst
include pip-requirements.txt
recursive-include circusweb/media *.css *.png *.ico *.html *.js
recursive-include circusweb/templates *.html
