<%inherit file="base.html"/>

% if controller:
    <div class="title">
     <div class="watcher_name">All sockets activity</div>
    </div>

    <div class="legend">
        <div class="legend_reads">
            <span class="legend_indicator"></span>
            <span class="">Socket reads</span>
        </div>
    </div>

    <div class="box">
    %for socket in sockets:
    <div class="process">
      <div>
        %if 'host' in socket:
            <span style="display: inline-block; float: left;"
              class="label">${socket['host']}:${socket['port']} (fd: ${socket['fd']})</span>
        %else:
            <span style="display: inline-block; float: left;"
              class="label">${socket['path']} (fd: ${socket['fd']})</span>

        %endif
        </div>

        <div class="stat">
            <div id="socket-stats-${socket['fd']}" class="graph"></div>
            <div class="metrics">
                <span class="metric_label">Reads</span>
                <span class="metric_value" id="socket-stats-${socket['fd']}_last_reads">0.0</span>
             </div>
        </div>
    </div>
    %endfor

<script src="${static_url('socket.io.js')}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var socket = io.connect('${SERVER}');
        supervise(socket, [], ['sockets'], ${b64encode(endpoint)}, ${dumps([endpoint])}, ${dumps([stats_endpoints[endpoint]])});
    });
</script>

% endif
